<h1>Editar investigador</h1>

<%= render "form", investigator: @investigator %>

<br>

<div>
  <%= link_to "Mostrar investigador", @investigator %> |
  <%= link_to "Regresar a la lista", investigators_path %>
</div>
