<div id="<%= dom_id article %>">
  <p>
    <strong>Articlenumber:</strong>
    <%= article.articleNumber %>
  </p>

  <p>
    <strong>Certificatenumber:</strong>
    <%= article.certificateNumber %>
  </p>

  <p>
    <strong>Researchcode:</strong>
    <%= article.researchCode %>
  </p>

</div>
