<table id="associated_investigator_table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre Completo</th>
              <th scope="col">Correo</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody id="investigators_body">
            <%= f.fields_for :project_investigators do |associated| %>
            <% end %>
          </tbody>
</table>