<table id="associated_investigator_table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre Completo</th>
              <th scope="col">Correo</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody id="investigators_body">
            
              <% if investigators && investigators.length != 0 %>
                <% (investigators).each do |associated_investigator| %>
                  <%= f.fields_for :project_investigators, ProjectInvestigator.new do |associated| %>
                    <%= render "projects/project_views/associated_investigator_row", form: associated, project: project, investigator: (associated_investigator ? associated_investigator : Investigator.first) %>
                  
                  <% end %>
                <% end %>
              <% end %>
              
            
          </tbody>
</table>