<h1>Editar proyecto</h1>

<%= render "form", project: @project, main_investigator_email: @main_investigator_email, investigators: @investigators %>

<br>

<div>
  <%= link_to "Mostrar proyecto", @project %> |
  <%= link_to "Regresar a lista", projects_path %>
</div>
