<div id="<%= dom_id certificate %>">
  <p>
    <strong>Certificatenumber:</strong>
    <%= certificate.certificateNumber %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= certificate.date %>
  </p>

</div>
