<h1>Editing certificate</h1>

<%= render "form", certificate: @certificate %>

<br>

<div>
  <%= link_to "Show this certificate", @certificate %> |
  <%= link_to "Back to certificates", certificates_path %>
</div>
